<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>4</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/Quicki/SweatyLauncher/main/published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\Sweat\Documents\GitHub\SweatyLauncher\published\</PublishDir>
    <PublishUrl>C:\Users\Sweat\Documents\GitHub\SweatyLauncher\published\</PublishUrl>
    <PublisherName>Sweaty#7793</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(Keine)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net5.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/Quicki/SweatyLauncher/main/published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2022-09-16T05:24:13.3178174Z;True|2022-09-16T06:57:58.8300337+02:00;True|2022-09-16T06:53:00.3002694+02:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.5.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop-Runtime 5.0.17 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>